@import url(https://fonts.googleapis.com/css?family=Roboto:500,300);

$border-line: 1px solid #d4d9dd;
$bulb-border-radius: 5px;

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

hr {
	color: #293037;
	border-style: solid;
}

.b-wrapper {
	display: flex;
	height: 100%;
}

.b-menu {
	background-color: blue;
	// flex: 1;
	width: 5%;
}

.b-inbox {
	background-color: tomato;
	width: 15%;
}

.b-contacts {
	background-color: green;
	width: 20%;
}

.b-messages {
	flex: 4;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 45%;

	&-control-bar {
	background-color: #e9eef3;
	border-bottom: $border-line;
    
	    &__buttons {
	        list-style-type: none;
	        margin: 0;
	        padding: 0;
	        text-align: right;
	    }
	    
	    &__item {
	        display: inline-block;
	        padding: 20px;
	        border-left: $border-line;
	        height: 100%;
	    }
	}

	&-area {
	background-color: #f1f5f8;
	border-bottom: $border-line;
    padding: 2% 0;
    height: 100%;
	}
}
	
.b-message {

    margin-bottom: 2%;

    &_receiver {
        text-align: right;
    }

    &-avatar-wrapper {
        text-align: center;
        display: inline-block;
        line-height: normal;
        vertical-align: top;
        font-size: 0.8em;
    }

    &-avatar-wrapper_sender {
        margin-left: 2%;
    }

    &-avatar-wrapper_receiver {
        margin-right: 2%;
    }

    &__bulb {    
        display: inline-block;
        line-height: normal;
        vertical-align: top;
        border-radius: $bulb-border-radius;
        padding: 15px;
        position: relative;
        width: auto;
        max-width: 70%;
        font-weight: 300;
        
        &_sender {
            background-color: #ffffff;
            margin: 0 0 0 25px;
        
            &:before {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: -12px;
              top: 15px;
              border: 6px solid;
              border-color: transparent #ffffff transparent transparent;
            }
        }

        &_receiver {
            background-color: #0084ff;
            color: #ffffff;
            margin: 0 25px 0 0;

            &:before {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              right: -12px;
              top: 15px;
              border: 6px solid;
              border-color: transparent transparent transparent #0084ff;
            }
        }
    }

    &-entry {
    padding: 0.5% 0.5%;
	    &__item {
	        // padding: 10px;
	        line-height: normal;
	        vertical-align: middle;
	        padding: 0 0.3%;
	        // height: 30px;

	        &_attach {
	            float: left;
	        }

	        &_emoji {
	            float: right;
	        }

	        &_input-wrapper {
	            overflow: hidden;   
	        }
	        
	        &_input {
	            border: none;
	            height: 39px;
	            width: 100%;
	        }

	        &_input:focus {
	            outline: none !important;
	        }

	        &_send {
	            float: right;
	            border-radius: 100px;
	            width: 39px;
	            height: 39px;
	        }
	    }
	}
    
}

.b-profile {
	text-align: center;
	width: 15%;
	margin: 0 auto;
	padding: 2% 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #293037;

	&-main-info {
		border-bottom: 1px solid #e5e5e5;
		&__title {
			font-weight: 500;
			margin-bottom: 0;
		}

		&__subtitle {

		}

		&__photo {
			border-radius: 60px;
		}
	}

	&__details {

		width: 85%;
		margin: 7% auto;
		padding: 0;
	}

	&__key, &__value {
		border-bottom: 1px solid #e5e5e5;
		margin: 4% 0;
		padding-bottom: 7%;
		float: left;
	}

	&__key {
		clear: left;
		width: 50%;
		font-weight: 500;
		text-align: left;
	}

	&__value {
		width: 50%;
		text-align: right;
	}
}
