@import url(https://fonts.googleapis.com/css?family=Roboto:500,300);
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

hr {
  color: #293037;
  border-style: solid; }

.b-wrapper {
  display: -webkit-box;
  display: flex;
  height: 100%; }

.b-menu {
  background-color: blue;
  width: 5%; }

.b-inbox {
  background-color: tomato;
  width: 15%; }

.b-contacts {
  background-color: green;
  width: 20%; }

.b-messages {
  -webkit-box-flex: 4;
  flex: 4;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  width: 45%; }
  .b-messages-control-bar {
    background-color: #e9eef3;
    border-bottom: 1px solid #d4d9dd; }
    .b-messages-control-bar__buttons {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right; }
    .b-messages-control-bar__item {
      display: inline-block;
      padding: 20px;
      border-left: 1px solid #d4d9dd;
      height: 100%; }
  .b-messages-area {
    background-color: #f1f5f8;
    border-bottom: 1px solid #d4d9dd;
    padding: 2% 0;
    height: 100%; }

.b-message {
  margin-bottom: 2%; }
  .b-message_receiver {
    text-align: right; }
  .b-message-avatar-wrapper {
    text-align: center;
    display: inline-block;
    line-height: normal;
    vertical-align: top;
    font-size: 0.8em; }
  .b-message-avatar-wrapper_sender {
    margin-left: 2%; }
  .b-message-avatar-wrapper_receiver {
    margin-right: 2%; }
  .b-message__bulb {
    display: inline-block;
    line-height: normal;
    vertical-align: top;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    width: auto;
    max-width: 70%;
    font-weight: 300; }
    .b-message__bulb_sender {
      background-color: #ffffff;
      margin: 0 0 0 25px; }
      .b-message__bulb_sender:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -12px;
        top: 15px;
        border: 6px solid;
        border-color: transparent #ffffff transparent transparent; }
    .b-message__bulb_receiver {
      background-color: #0084ff;
      color: #ffffff;
      margin: 0 25px 0 0; }
      .b-message__bulb_receiver:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        right: -12px;
        top: 15px;
        border: 6px solid;
        border-color: transparent transparent transparent #0084ff; }
  .b-message-entry {
    padding: 0.5% 0.5%; }
    .b-message-entry__item {
      line-height: normal;
      vertical-align: middle;
      padding: 0 0.3%; }
      .b-message-entry__item_attach {
        float: left; }
      .b-message-entry__item_emoji {
        float: right; }
      .b-message-entry__item_input-wrapper {
        overflow: hidden; }
      .b-message-entry__item_input {
        border: none;
        height: 39px;
        width: 100%; }
      .b-message-entry__item_input:focus {
        outline: none !important; }
      .b-message-entry__item_send {
        float: right;
        border-radius: 100px;
        width: 39px;
        height: 39px; }

.b-profile {
  text-align: center;
  width: 15%;
  margin: 0 auto;
  padding: 2% 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #293037; }
  .b-profile-main-info {
    border-bottom: 1px solid #e5e5e5; }
    .b-profile-main-info__title {
      font-weight: 500;
      margin-bottom: 0; }
    .b-profile-main-info__photo {
      border-radius: 60px; }
  .b-profile__details {
    width: 85%;
    margin: 7% auto;
    padding: 0; }
  .b-profile__key, .b-profile__value {
    border-bottom: 1px solid #e5e5e5;
    margin: 4% 0;
    padding-bottom: 7%;
    float: left; }
  .b-profile__key {
    clear: left;
    width: 50%;
    font-weight: 500;
    text-align: left; }
  .b-profile__value {
    width: 50%;
    text-align: right; }
